# 后台管理密码
ADMIN_PASSWORD=123456

# Vercel KV / Upstash Redis REST 配置
KV_REST_API_URL=https://your-redis-instance.upstash.io
KV_REST_API_TOKEN=your-upstash-redis-rest-token
UPSTASH_REDIS_KEY_PREFIX=navsphere

# NextAuth 配置
NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET=your-random-auth-secret
NEXT_PUBLIC_API_URL=http://localhost:3000

# Google Analytics 配置 (可选)
GA_ID=G-QG9PGG4K13
